body{
  background-color: #000000;}
  
#lang{top:10px; left: 3px; margin: 4px; background: rgba(0, 0, 0, 0.0);}
#langs{top:18px; left: 3px; color: #ffffff; background: rgba(0, 0, 0, 0.0); text-shadow: -1px 1px 4px white;}
a:link{
text-decoration: none; 
margin: 4px;
margin-bottom: 14px;}

#subtitle{display: block;    
        position: 0px;
        bottom:40px;
        right: 0px;}

p{color: #ffffff;}

label{color: #ffffff;}

figcaption{color: #ffffff;}

li{margin: 10px;}

#nums{margin: 4px; background: rgba(0, 0, 0, 0.0);}

#datagiving{display: block;
           position: relative;
           top: 1px;
           right: -255px;}
           
#button{margin: -4px;}

div{display: block;
       position: relative;
       bottom: 0px;
       right: 30px;
       background-color: #000000;}
       
#toback{display: block;
       position: relative;
       top: -30px;
       right: 0px;} 
        
#password{
left: 640px;
bottom: 270px;}

figure {display: block;
       position: relative;
       top: 0px;
       right: 40px;} 

#button{display: block;
       position: relative;
       top: 3px;
       right: 0px;
       text-align: center;}

#close{
  text-align: center;
  position: relative;
  border-radius: 20px/20px;
  font-weight: bold;
  text-shadow: -1px 1px 4px rgba(110, 110, 110, 1);
  line-height: 1.0;
  border-radius: 0px;
  padding: .2em 0em .2em .3em;
  display: block;
  position: absolute;
  color: #ffffff;
  top: 97px;
  right: 60px;
  left: 60px;
  bottom: 5px; 
  background: rgba(70, 0, 0);
  box-shadow: 
  0px 0px 1px 2px rgba(70, 0, 0), 
  -1px 1px 2px 2px rgba(59, 0, 0), 
  -2px 2px 3px 2px rgba(48, 0, 0), 
  -3px 3px 3px 2px rgba(37, 0, 0), 
  -4px 4px 4px 2px rgba(26, 0, 0), 
  -5px 5px 4px 2px rgba(15, 0, 0),
  -6px 6px 5px 2px rgba(4, 0, 0), 
  -6px 6px 5px 2px rgba(0, 0, 0), 
  -7px 7px 6px 2px rgba(0, 0, 0), 
  -8px 8px 6px 2px rgba(0, 0, 0), 
  -9px 9px 7px 2px rgba(0, 0, 0),
  -10px 10px 8px 2px rgba(0, 0, 0);
  transition: .2s;
}
#close:hover {
  background: rgb(255, 0, 0);
  box-shadow:
  0px 0px 1px 2px rgba(255, 0, 0), 
  -1px 1px 2px 2px rgba(187, 0, 0), 
  -2px 2px 3px 2px rgba(123, 0, 0), 
  -3px 3px 3px 2px rgba(98, 0, 0), 
  -4px 4px 4px 2px rgba(90, 0, 0), 
  -5px 5px 4px 2px rgba(80, 0, 0),
  -6px 6px 5px 2px rgba(60, 0, 0), 
  -6px 6px 5px 2px rgba(50, 0, 0), 
  -7px 7px 6px 2px rgba(40, 0, 0), 
  -8px 8px 6px 2px rgba(30, 0, 0), 
  -9px 9px 7px 2px rgba(20, 0, 0),
  -10px 10px 8px 2px rgba(10, 0, 0);
  transition: .2s;
}
#close:active {
  background: rgb(255, 100, 100);
  box-shadow: 
  0px 0px 1px 2px rgba(255, 100, 100), 
  -1px 1px 2px 2px rgba(187, 74, 74), 
  -2px 2px 3px 2px rgba(123, 48, 48), 
  -3px 3px 3px 2px rgba(98, 38, 38), 
  -4px 4px 4px 2px rgba(35, 35, 35), 
  -5px 5px 4px 2px rgba(80, 31, 35),
  -6px 6px 5px 2px rgba(60, 24, 24), 
  -6px 6px 5px 2px rgba(50, 20, 20), 
  -7px 7px 6px 2px rgba(40, 16, 16), 
  -8px 8px 6px 2px rgba(30, 12, 12), 
  -9px 9px 7px 2px rgba(20, 9, 9),
  -10px 10px 8px 2px rgba(10, 4, 4);
  transition: .1s;
  animation-name: close;
  animation-duration: .5s;
}
#closep{display: block;
       position: absolute;
       top: 250px;
       right: 200px;
       left: 200px;
       bottom: 18px;}

#okno {
 width: 200px;
        height: 140px;
        text-align: center;
        padding: 5px;
        border: 2px 0px 10px #0000ff;
        border-radius: 0px;  <!-- Делает края закруглёнными -->
        color: rgba(0, 0, 255); 
        display: none; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 100;
        left: 0;
        margin: auto;
        box-shadow: 
  0px 0px 1px 2px rgba(0, 0, 255), inset  0px 0px 1px 2px rgba(0, 0, 255),
  -1px 1px 2px 2px rgba(0, 0, 187), inset  -1px 1px 2px 2px rgba(0, 0, 187), 
  -2px 2px 3px 2px rgba(0, 0, 123), inset  -2px 2px 3px 2px rgba(0, 0, 123),
  -3px 3px 3px 2px rgba(0, 0, 98),  inset -3px 3px 3px 2px rgba(0, 0, 98), 
  -4px 4px 4px 2px rgba(0, 0, 90), inset  -4px 4px 4px 2px rgba(0, 0, 90),
  -5px 5px 4px 2px rgba(0, 0, 80), inset -5px 5px 4px 2px rgba(0, 0, 80),
  -6px 6px 5px 2px rgba(0, 0, 60), inset  -6px 6px 5px 2px rgba(0, 0, 60),
  -6px 6px 5px 2px rgba(0, 0, 50), inset  -6px 6px 5px 2px rgba(0, 0, 50),
  -7px 7px 6px 2px rgba(0, 0, 40), inset  -7px 7px 6px 2px rgba(0, 0, 40),
  -8px 8px 6px 2px rgba(0, 0, 30), inset  -8px 8px 6px 2px rgba(0, 0, 30),
  -9px 9px 7px 2px rgba(0, 0, 20), inset -9px 9px 7px 2px rgba(0, 0, 20),
  -10px 10px 8px 2px rgba(0, 0, 10), inset -10px 10px 8px 2px rgba(0, 0, 10); }

      #okno:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid #000000;
        color: #0000ff;
        padding: 0 12px;
        bottom: 500;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;}
      .close:hover {background: #e6e6ff;}

#pochemu {
  width: 400px;
 height: 100px;
 text-align: center;
 padding: 5px;
   border: 2px solid #000000;
        border-radius: 0px;  <!-- Делает края закруглёнными -->
    color: #000000; 
        display: none; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0px;
        left: 0;
        margin: auto;}

#pochemu:target {display: block;}
.close {
 display: inline-block;
 border: 1px solid #000000;
 color: #000000;
 padding: 0px;
 bottom:0px;
 top: 0px;
 margin: 10px;
 text-decoration: none;
 background: #f2f2f2;
 font-size: 14pt;
 cursor:pointer;}
.close:hover {background: #e6e6ff;}
      
a.button {
  text-align: center;
  position: relative;
  border-radius: 10px/10px;
  font-weight: bold;
  color: #999999;
  text-shadow: -1px 1px 4px rgba(110, 110, 110, 1);
  line-height: 1.0;
  border-radius: 0px;
  padding: .2em 0em .2em .3em;
  background: rgb(0, 0, 70);
  box-shadow: 
  0px 0px 1px 2px rgba(0, 0, 70), 
  -1px 1px 2px 2px rgba(0, 0, 59), 
  -2px 2px 3px 2px rgba(0, 0, 48), 
  -3px 3px 3px 2px rgba(0, 0, 37), 
  -4px 4px 4px 2px rgba(0, 0, 26), 
  -5px 5px 4px 2px rgba(0, 0, 15),
  -6px 6px 5px 2px rgba(0, 0, 4), 
  -6px 6px 5px 2px rgba(0, 0, 0), 
  -7px 7px 6px 2px rgba(0, 0, 0), 
  -8px 8px 6px 2px rgba(0, 0, 0), 
  -9px 9px 7px 2px rgba(0, 0, 0),
  -10px 10px 8px 2px rgba(0, 0, 0);
  transition: .2s;
}
a.button:hover {
  background: rgb(0, 0, 255);
  box-shadow:
  0px 0px 1px 2px rgba(0, 0, 255), 
  -1px 1px 2px 2px rgba(0, 0, 187), 
  -2px 2px 3px 2px rgba(0, 0, 123), 
  -3px 3px 3px 2px rgba(0, 0, 98), 
  -4px 4px 4px 2px rgba(0, 0, 90), 
  -5px 5px 4px 2px rgba(0, 0, 80),
  -6px 6px 5px 2px rgba(0, 0, 60), 
  -6px 6px 5px 2px rgba(0, 0, 50), 
  -7px 7px 6px 2px rgba(0, 0, 40), 
  -8px 8px 6px 2px rgba(0, 0, 30), 
  -9px 9px 7px 2px rgba(0, 0, 20),
  -10px 10px 8px 2px rgba(0, 0, 10);
  transition: .2s;
}
a.button:active {
  background: rgb(100, 100, 255);
  box-shadow: 
  0px 0px 1px 2px rgba(100, 100, 255), 
  -1px 1px 2px 2px rgba(74, 74, 187), 
  -2px 2px 3px 2px rgba(48, 48, 123), 
  -3px 3px 3px 2px rgba(38, 38, 98), 
  -4px 4px 4px 2px rgba(35, 35, 90), 
  -5px 5px 4px 2px rgba(31, 31, 80),
  -6px 6px 5px 2px rgba(24, 24, 60), 
  -6px 6px 5px 2px rgba(20, 20, 50), 
  -7px 7px 6px 2px rgba(16, 16, 40), 
  -8px 8px 6px 2px rgba(12, 12, 30), 
  -9px 9px 7px 2px rgba(9, 9, 20),
  -10px 10px 8px 2px rgba(4, 4, 10);
  transition: .1s;
  animation-name: typ;
  animation-duration: .5s;
}
@keyframes typ {
  0%{background: rgb(255, 255, 255);
  color: #999999;
  box-shadow: 
  0px 0px 4px 2px rgba(255, 255, 255), 
  -1px 1px 8px 2px rgba(187, 187, 187), 
  -2px 2px 12px 2px rgba(123, 123, 123), 
  -3px 3px 12px 2px rgba(98, 98, 98), 
  -4px 4px 16px 2px rgba(90, 90, 90), 
  -5px 5px 16px 2px rgba(80, 80, 80),
  -6px 6px 20px 2px rgba(60, 60, 60), 
  -6px 6px 20px 2px rgba(50, 50, 50), 
  -7px 7px 24px 2px rgba(40, 40, 40), 
  -8px 8px 24px 2px rgba(30, 30, 30), 
  -9px 9px 28px 2px rgba(20, 20, 20),
  -10px 10px 32px 2px rgba(10, 10, 10);}
  99%{background: rgb(50, 50, 50);
    color: #999999;
  box-shadow: 
  0px 0px 1px 2px rgba(50, 50, 50), 
  -1px 1px 2px 2px rgba(37, 37, 37), 
  -2px 2px 3px 2px rgba(24, 24, 24), 
  -3px 3px 3px 2px rgba(19, 24, 24), 
  -4px 4px 4px 2px rgba(18, 18, 18), 
  -5px 5px 4px 2px rgba(15, 15, 15),
  -6px 6px 5px 2px rgba(12, 12, 12), 
  -6px 6px 5px 2px rgba(10, 10, 10), 
  -7px 7px 6px 2px rgba(8, 8, 8), 
  -8px 8px 6px 2px rgba(6, 6, 6), 
  -9px 9px 7px 2px rgba(4, 4, 4),
  -10px 10px 8px 2px rgba(2, 2, 2);}}
  @keyframes close {
  0%{background: rgb(255, 255, 255);
  color: #999999;
  box-shadow: 
  0px 0px 4px 2px rgba(255, 255, 255), 
  -1px 1px 8px 2px rgba(187, 187, 187), 
  -2px 2px 12px 2px rgba(123, 123, 123), 
  -3px 3px 12px 2px rgba(98, 98, 98), 
  -4px 4px 16px 2px rgba(90, 90, 90), 
  -5px 5px 16px 2px rgba(80, 80, 80),
  -6px 6px 20px 2px rgba(60, 60, 60), 
  -6px 6px 20px 2px rgba(50, 50, 50), 
  -7px 7px 24px 2px rgba(40, 40, 40), 
  -8px 8px 24px 2px rgba(30, 30, 30), 
  -9px 9px 28px 2px rgba(20, 20, 20),
  -10px 10px 32px 2px rgba(10, 10, 10);}
  99%{background: rgb(50, 50, 50);
    color: #999999;
  box-shadow: 
  0px 0px 1px 2px rgba(50, 50, 50), 
  -1px 1px 2px 2px rgba(37, 37, 37), 
  -2px 2px 3px 2px rgba(24, 24, 24), 
  -3px 3px 3px 2px rgba(19, 24, 24), 
  -4px 4px 4px 2px rgba(18, 18, 18), 
  -5px 5px 4px 2px rgba(15, 15, 15),
  -6px 6px 5px 2px rgba(12, 12, 12), 
  -6px 6px 5px 2px rgba(10, 10, 10), 
  -7px 7px 6px 2px rgba(8, 8, 8), 
  -8px 8px 6px 2px rgba(6, 6, 6), 
  -9px 9px 7px 2px rgba(4, 4, 4),
  -10px 10px 8px 2px rgba(2, 2, 2);}}
